body {
  background: white;
  font-family: 'Open Sans', sans-serif; }

.jumbotron {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  background: white; }

.headTitre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

a.headTitle {
  text-decoration: none;
  color: black;
  font-family: 'Crimson Text', serif; }

.navbar-brand {
  font-size: 4rem; }

.navup2 {
  margin: auto; }

a.nav-link {
  color: black;
  margin-top: 10px; }
  a.nav-link:hover {
    border-bottom: 2px solid black;
    margin-top: 8px; }

.wrapper {
  background: white !important; }

img.imageNav {
  width: 15px;
  height: 18px; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 2px; }

.modal-dialog {
  max-width: 600px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.modal-content {
  margin-top: 40%;
  text-align: center;
  border-radius: 5px;
  border: solid 2px black; }

.search {
  border: solid 1px black;
  padding: 5px;
  border-radius: 0px 0px 10px 10px; }

.recherche {
  padding: 10px; }

.research {
  padding: 15px; }

.loupe {
  padding-top: 0px;
  padding-left: 0px;
  border: none; }

@media screen and (max-width: 650px) {
  ul.yo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important; } }
