body { 
color : black;
}

.attachment-large {
    width: 346px;
    height : 600px;
}

.size-large {
    width: 346px;
    height : 600px;
}

.wp-post-image {
    width: 346px;
    height : 600px;
}

